{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>


    

  <div class="carousel-inner" >
  {% for photo in photos %}
  {% if photo.chambre == null %}
  
    <div class="carousel-item{% if photo.ordre == 1 %} active {% endif %}" data-bs-interval="3500" >
      <img src="{{ photo.photo}}" class="d-block w-100" style="height:75vh; object-fit:cover;" alt="image de Cortez">
      <div class="carousel-caption d-none d-md-block">
        <a href="{{path('chambres')}}" class="btn btn-primary">Découvrez nos chambres</a>
      </div>
    </div>
    {% endif %}
 {% endfor %}   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container my-5">
<hr>
  <figure class="my-5 text-center">
  <blockquote class="blockquote">
    <p>“Les gens oublieront ce que vous avez dit. Ils oublieront ce que vous avez fait. Mais ils n’oublieront jamais ce que vous leur avez fait ressentir.”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    La poète américaine  <cite title="Source Title">Maya Angelou</cite>
  </figcaption>
</figure>
<hr>
  <div class="row justify-content-around my-4">
    <div class="col-lg-3 text-center my-4">
      <img src="https://images.squarespace-cdn.com/content/v1/5beaec59cc8fed13655dc57c/1542558650854-ML0M2VBFIB07O0XLK725/0073_AHS5setphtRoom64Selects009.jpg?format=2500w" class="rounded-circle img-fluid" alt="">
      <p class="my-3">Venez découvrir nos chambres pour votre plus grand plaisir, confort garentie toute l'année</p>
      <a href="{{path('chambres')}}" class="btn btn-primary my-2">Nos Chambres</a>
    </div>
    <div class="col-lg-3 text-center my-4">
      <img src="https://kissmychef.com/wp-content/uploads/2020/07/onglet.png" class="rounded-circle img-fluid" alt="">
      <p class="my-3">Nos plats sont confectionnés à la minute par notre chez cuisinier chaque jour</p>
      <a href="{{path('cartes')}}" class="btn btn-primary my-2">Restaurant</a>
    </div>
    <div class="col-lg-3 text-center my-4">
      <img src="https://nolinskiparis.com/wp-content/uploads/2022/06/piscine-spa-nolinski-by-la-colline-hotel-5-etoiles-luxe-paris-5-guillaume-de-laubier-2016x1361.jpg" class="rounded-circle img-fluid" alt="">
      <p class="my-3">Détendez-vous et offrez vous un massage dont vous vous rappellerez toute votre vie</p>
      <a href="{{path('spas')}}" class="btn btn-primary my-2">Nos spas</a>
    </div>
  </div>
</div>

{% endblock %}
